* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #2e7d32;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex: 1;
    height: calc(100vh - 100px); /* Considerando altura do header e footer */
}

#texto {
    width: 50%;
    padding: 20px;
    overflow-y: auto;
}

#imagem-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ocupa toda a altura */
}

#imagemPlanta {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2e7d32;
    color: white;
}

.planta {
    margin-bottom: 20px;
    cursor: pointer;
}

/* Estilo para a narrativa ativa */
.planta.ativa {
    border: 2px solid #2e7d32;
    padding: 10px;
    border-radius: 8px;
}
