body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#scrollytelling {
  display: flex;
}

#map {
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#story {
  width: 50%;
  margin-left: 50%;
  height: 100vh;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
  position: relative;
  width: 100%;
  height: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-item {
  display: none;
  text-align: center;
  padding: 20px;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
  display: block;
  opacity: 1;
}

.carousel-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.carousel-controls button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.carousel-controls button:hover {
  background-color: #0056b3;
}

/* Modal para imagens dos pins */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  border-radius: 8px;
}

.modal-content {
  text-align: center;
}

.modal img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}
